
@model ContainerSearchViewModel
@{
    ViewData["Title"] = "Container Search";
    var tabs = new[] {
        new { id = 0, text = "Container Events"},
        new { id = 1, text = "Packages Information"}
    };
}
<style>
    table.ppg-table td:first-child {
        font-weight: normal !important;
    }
</style>

<h2 class="content-block noPrint">Container Search</h2>

<div class="content-block">
    <div class="dx-card" id="containerSearchCard">
        <div class="ppg-container-cols flex-container">
            <div class="dx-col-4">
                @(Html.DevExtreme().Autocomplete()
                .ID("containerIdAutocomplete")
                .Visible(true)
                .Value(Model.ContainerId)
                .Placeholder("Container Tracking Number Or Container Id")// Do we want this feature if it is not being used in other places?
                .Buttons(buttons =>
                {
                    buttons.Add()
                    .Name("Search")
                    .Location(TextEditorButtonLocation.After)
                    .Widget(w => w.Button().Icon("search")
                    .Type(ButtonType.Default)
                    .OnClick("PPG.containerSearch.searchContainer_onClick"));
                })
                .ShowClearButton(true).Width(600))
            </div>
            <div class="dx-col-2">
                @(Html.DevExtreme().Button()
                .ID("SearchContainers")
                .Text("Search")
                .Type(ButtonType.Normal)
                .OnClick("PPG.containerSearch.searchContainer_onClick"))
            </div>
            <div class="dx-col-3">
                @(Html.DevExtreme().Button()
                .ID("btnExport")
                .Text("Export")
                .Type(ButtonType.Success)
                .Visible(false)
                .Icon("xlsxfile")
                .OnClick("PPG.containerSearch.exportFile")
                )
            </div>
        </div>
    </div>
</div>
<p>
    &nbsp;
</p>

<div id="mainWrapper" class="content-block">
    <div class="dx-card">
        <div id="mainWrapper" class="content-block">
            <div id="search-results" style="grid-column: 1 / span 12;">
                <h2>Container Information</h2>
                <table class="ppg-table" style="margin-bottom:15px;">
                    <thead>
                        <tr style="text-align: left; font-size: larger;">
                            <th style="width: 33.33%;">Container Details</th>
                            <th style="width: 33.33%;">Location Details</th>
                            <th style="width: 33.33%;">Container Diagnostics</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>CONTAINER ID:</b>
                                <span data-bind="text: CONTAINER_ID"></span>
                            </td>
                            <td>
                                <b>BIN CODE:</b>
                                <span data-bind="text: BIN_CODE"></span>
                                &emsp;
                                <b>FSC SITE:</b>
                                <span data-bind="text: FSC_SITE"></span>
                            </td>
                            <td>
                                <b>CONTAINER WEIGHT:</b>
                                <span data-bind="text: CONTAINER_WEIGHT"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>MANIFEST DATE:</b>
                                <span data-bind="text: MANIFEST_DATE_STRING"></span>
                            </td>
                            <td>
                                <b>DROP SHIP SITE KEY:</b>
                                <span data-bind="text: DROP_SHIP_SITE_KEY"></span>
                            </td>
                            <td>
                                <b>PIECES IN CONTAINER:</b>
                                <span data-bind="text: PIECES_IN_CONTAINER"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>STATUS:</b>
                                <span data-bind="text: STATUS"></span>
                            </td>
                            <td>
                                <b>ENTRY UNIT NAME:</b>
                                <span data-bind="text: ENTRY_UNIT_NAME"></span>
                            </td>
                            <td>
                                <b>Is Outside 48:</b><input type="checkbox" style="width: 50px; margin: 0px;" disabled data-bind="checked: IS_OUTSIDE_48_STATES" />
                                <b>Is Rural:</b> <input type="checkbox" style="width: 50px; margin: 0px;" disabled data-bind="checked: IS_RURAL" />
                                <b>Is Saturday:</b> <input type="checkbox" style="width: 50px; margin: 0px;" disabled data-bind="checked: IS_SATURDAY" />
                            </td>                        
                        </tr>
                        <tr>
                            <td>
                                <b>CONTAINER TYPE:</b>
                                <span data-bind="text: CONTAINER_TYPE"></span>
                            </td>
                            <td>
                                <b>ENTRY UNIT CSZ:</b>
                                <span data-bind="text: ENTRY_UNIT_CSZ"></span>
                            </td>
                            <td>
                                <b>LAST KNOWN DATE:</b>
                                <span data-bind="text: LAST_KNOWN_DATE_STRING"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>SHIPPING CARRIER:</b>
                                <span data-bind="text: SHIPPING_CARRIER"></span>
                            </td>
                            <td>
                                <b>ENTRY UNIT TYPE:</b>
                                <span data-bind="text: ENTRY_UNIT_TYPE"></span>
                            </td>
                            <td>
                                <b>LAST KNOWN DESCRIPTION:</b>
                                <span data-bind="text: LAST_KNOWN_DESCRIPTION"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>SHIPPING METHOD:</b>
                                <span data-bind="text: SHIPPING_METHOD"></span>
                            </td>
                            <td>
                                <b>ZONE:</b>
                                <span data-bind="text: ZONE"></span>
                            </td>
                            <td>
                                <b>LAST KNOWN LOCATION:</b>
                                <span data-bind="text: LAST_KNOWN_LOCATION"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="display:flex;">
                                    <b>TRACKING NUMBER:&nbsp;</b> 
                                    <div data-bind="if: PPG.containerSearch.doShowContainerInformationHyperLink()">
                                        <a target="_blank" data-bind="attr: { href: TRACKING_NUMBER_HYPERLINK }">
                                            <span data-bind="text: TRACKING_NUMBER"></span>
                                        </a>
                                    </div>
                                    <div data-bind="ifnot: PPG.containerSearch.doShowContainerInformationHyperLink()">
                                        <span data-bind="text: TRACKING_NUMBER"></span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <b>IS SECONDARY CARRIER:</b>
                                <input type="checkbox" style="width: 50px; margin: 0px;" disabled data-bind="checked: IS_SECONDARY_CARRIER" />
                            </td>
                            <td>
                                <b>LAST KNOWN ZIP:</b>
                                <span data-bind="text: LAST_KNOWN_ZIP"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <p>&nbsp;</p>
    </div>
    <div class="dx-card">
        <div id="tabs">
            @(Html.DevExtreme().Tabs()
            .ID("tabs-container")
            .DataSource(tabs)
            .SelectedIndex(0)
            .OnItemClick("PPG.containerSearch.tabs_itemClick")
                )
            <div class="content dx-fieldset">
                <div>
                    <div>
                        @(Html.DevExtreme().SelectBox()
                        .ID("selectbox")
                        .DataSource(tabs)
                        .Value(0)
                        .DisplayExpr("text")
                        .ValueExpr("id")
                        .Visible(false)
                        .OnValueChanged("PPG.containerSearch.selectBox_valueChanged")
                        )
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field">
                        <div id="containerEvents">

                        </div>
                        <div id="containerPackages">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="eventsToRender">
    <div class="content-block">
        <table style="width: 100%;">
            <thead style="color: white; background-color: #007bff !important;">
                <tr style="text-align: center; font-size: larger;">
                    <th>LOCAL EVENT DATE</th>
                    <th>TRACKING NUMBER</th>                    
                    <th>EVENT TYPE</th>
                    <th>EVENT STATUS</th>
                    <th>USER NAME</th>
                    @{
                        if (User.IsSubClientWebAdministrator() || User.IsSubClientWebUser() 
                            || User.IsClientWebAdministrator() || User.IsClientWebUser()
                            || User.IsCustomerService())
                        {
                            // show nothing
                        }
                        else
                        {
                            <th>DISPLAY NAME</th>
                        }
                    }                       
                    <th>MACHINE ID</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: EVENTS">
                <tr>
                    <td><span data-bind="text: DevExpress.localization.formatDate(new Date(LOCAL_EVENT_DATE), 'MM/dd/yyyy HH:mm:ss a')"></span></td>
                    <td>
                        <div data-bind="if: TRACKING_NUMBER_HYPERLINK !== ''">
                            <a target="_blank" data-bind="attr: { href: TRACKING_NUMBER_HYPERLINK }"><span data-bind="text: TRACKING_NUMBER"></span></a>
                        </div>
                        <div data-bind="ifnot: TRACKING_NUMBER_HYPERLINK !== ''">
                            <span data-bind="text: TRACKING_NUMBER"></span>
                        </div>
                    </td>                    
                    <td><span data-bind="text: EVENT_TYPE"></span></td>
                    <td><span data-bind="text: EVENT_STATUS"></span></td>
                    <td><span data-bind="text: USER_NAME"></span></td>
                    @{
                        if (User.IsSubClientWebAdministrator() || User.IsSubClientWebUser() 
                            || User.IsClientWebAdministrator() || User.IsClientWebUser()
                            || User.IsCustomerService())
                        {
                            // show nothing
                        }
                        else
                        {
                            <td><span data-bind="text: DISPLAY_NAME"></span></td>
                        }
                    }                      
                    <td><span data-bind="text: MACHINE_ID"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</script>

<script type="text/html" id="packagesToRender">
    <div class="content-block">
        <table style="width: 100%;">
            <thead style="color: white; background-color: #007bff !important;">
                <tr style="text-align: center; font-size: larger;">
                    <th>PACKAGE ID</th>
                    <th>TRACKING NUMBER</th>
                    <th>PACKAGE CARRIER</th>
                    <th>SHIPPING METHOD</th> <!-- Request has Package Service -->
                    <th>LAST KNOWN DATE</th>
                    <th>LAST KNOWN DESC</th>
                    <th>LAST KNOWN LOCATION</th>
                    <th>LAST KNOWN ZIP</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: PACKAGES">
                <tr>
                    <td><a target="_blank" data-bind="attr: { href: PACKAGE_ID_HYPERLINK }"><span data-bind="text: PACKAGE_ID"></span></a></td>
                    <td><a target="_blank" data-bind="attr: { href: TRACKING_NUMBER_HYPERLINK }"><span data-bind="text: TRACKING_NUMBER"></span></a></td>
                    <td><span data-bind="text: CARRIER"></span></td>
                    <td><span data-bind="text: SHIPPING_METHOD"></span></td>
                    <td><span data-bind="text: DevExpress.localization.formatDate(new Date(LAST_KNOWN_DATE), 'shortDateShortTime')"></span></td>
                    <td><span data-bind="text: LAST_KNOWN_DESC"></span></td>
                    <td><span data-bind="text: LAST_KNOWN_LOCATION"></span></td>
                    <td><span data-bind="text: LAST_KNOWN_ZIP"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</script>

@*
    Consider the following code for all columns in the detail parts of this view
    @nameof(ParcelPrepGov.Reports.Models.SprocModels.ContainerSearchPacakgeViewModel.SHIPPING_METHOD)
*@


@section Scripts {
    <script src="~/js/ppg/ppg.container-search.bundle.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function documentReady() {
            this.removeEventListener('DOMContentLoaded', documentReady);
            PPG.containerSearch.init();
        });
    </script>
}
