<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MMS-@ViewData["Title"]</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/vendor.bundle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ppg/ppg-anonymousout.bundle.min.css" asp-append-version="true" />
    <script src="~/js/vendor.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/ppg/ppg.core.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/ppg/ppg.layout-anonymous.bundle.min.js" asp-append-version="true"></script>
    @RenderSection("Head", required: false)
</head>

<body>
    @Html.AntiForgeryToken()
        @RenderBody()
    <div id="ajaxing-panels"></div>
    @RenderSection("Scripts", required: false)
    <script>
        document.addEventListener('DOMContentLoaded', function documentReady() {
            this.removeEventListener('DOMContentLoaded', documentReady);
            PPG.toastr.tempData('@TempData["Toast"]');
            PPG.layoutAnonymous.init();
        });
    </script>
</body>
</html>