@model ManageBinSchemasViewModel

@{
    ViewData["Title"] = "Service Management";
}

<h2 class="content-block">Service Management <i class="dx-icon dx-icon-spinright"></i> Manage Bin Schemas</h2>
<p class="page-desc">Bin Schemas refine the physical delivery destinations on the distribution center floor and the associated 5 digit and 3 digit zipcode mappings to these destinations.</p>

<div class="content-block">
    <div class="ppg-container-cols">
        <div style="grid-column: 1 / span 12;">
            <div class="ppg-label">Location</div>
            @(Html.DevExtreme().SelectBox()
                .DataSource(d => d.Mvc().Controller("Common").LoadAction("GetSiteSelectBoxData"))
                .Name("SiteName")
                .DeferRendering(false)
                .Placeholder("")
                .DisplayExpr("Description")
                .ValueExpr("Name")
                .OnValueChanged("PPG.manageBinSchemas.onSiteNameValueChanged")
            )
        </div>
    </div>
</div>

<div class="content-block">
    <div class="dx-card" id="binSchemasCard">
        <div class="ppg-card-header-cols">
            <div style="grid-column: 1 / span 9;">
                @(Html.DevExtreme().Button()
                    .ID("upload-button")
                    .Icon("upload")
                    .OnClick("PPG.manageBinSchemas.uploadButton_onClick")
                    )
                @(Html.DevExtreme().Tooltip()
                    .Target("#upload-button")
                    .Position(Position.Top)
                    .ContentTemplate("Upload")
                    .ShowEvent("mouseenter")
                    .HideEvent("mouseleave"))
            </div>
            <div style="grid-column: 10 / span 3;" class="right">
                @(Html.DevExtreme().Button()
                .ID("exportButton")
                .Icon("xlsxfile")
                .Disabled(true)
                .OnClick("PPG.manageBinSchemas.exportButton_onClick")
                )
                @(Html.DevExtreme().Tooltip()
                    .ID("exportButtonTooltip")
                    .Target("#exportButton")
                    .Position(Position.Top)
                    .ContentTemplate("Download")
                    .ShowEvent("mouseenter")
                    .HideEvent("mouseleave"))
            </div>
        </div>
        @(Html.DevExtreme().DataGrid<ActiveGroupViewModel>()
            .DataSource(d => d.Mvc()
            .Controller("ServiceManagement")
            .LoadAction(nameof(ParcelPrepGov.Web.Features.ServiceManagement.ServiceManagementController.GetBinActiveGroups))
            .LoadParams(new { site = new JS("PPG.manageBinSchemas.getSelectedSite") })
            .Key("Id"))
            .ID("binSchemaActiveGroupsGrid")
            .Visible(false)
            .Selection(s => s.Mode(SelectionMode.Single))
            .HoverStateEnabled(true)
            .ShowColumnLines(true)
            .ShowRowLines(true)
            .ShowBorders(true)
            .HoverStateEnabled(true)
            .FocusedRowEnabled(true)
            .OnFocusedRowChanged("PPG.manageBinSchemas.grid_onFocusedRowChanged")
            .LoadPanel(x => x.Enabled(true))
            .AllowColumnResizing(true)
            .AllowColumnReordering(true)
            .SearchPanel(searchPanel => searchPanel.Visible(false))
            .FilterRow(f => f.Visible(true))
            .Columns(columns => {
                columns.Add().DataField("StartDate").Caption("Start Date").DataType(GridColumnDataType.Date).Format(Format.ShortDate).SortOrder(SortOrder.Desc);
                columns.Add().DataField("Filename").Caption("File Name");
                columns.Add().DataField("Name").Caption("Site");
                columns.Add().DataField("UploadedBy").Caption("Upload By").Width(125);
                columns.Add().DataField("UploadDate").Caption("Upload Date\\Time").DataType(GridColumnDataType.DateTime).Format(Format.ShortDateShortTime).Width(200);
            })

        .Paging(paging => paging.PageSize(10))
        .Pager(pager =>
        {
            pager.ShowPageSizeSelector(true);
            pager.AllowedPageSizes(new[] { 5, 10, 20 });
            pager.ShowInfo(true);
        })
        )
    </div>
</div>

@(Html.DevExtreme().Popup()
        .ID("uploadBins-popup")
        .Width(800)
        .Height(600)
        .ShowTitle(true)
        .Title("Upload")
        .Visible(false)
        .DragEnabled(false)
        .CloseOnOutsideClick(false)
        .OnShowing("PPG.manageBinSchemas.popup_onShowing")
        .OnContentReady("PPG.manageBinSchemas.popup_OnContentReady")
        .OnHiding("PPG.manageBinSchemas.popup_onHiding")
        .ContentTemplate(new TemplateName("uploadBins-template")))

@using (Html.DevExtreme().NamedTemplate("uploadBins-template"))
{
    @using (Html.BeginForm("ImportBinMappings", "ServiceManagement", FormMethod.Post, new { @id = "formManageBinSchemas" }))
    {
        @(Html.DevExtreme().Form<ManageBinSchemasViewModel>()
                .ID("ManageBinSchemasForm")
                .ColCount(2)
                .Items(groups =>
                {
                    groups.AddGroup()
                    .ColSpan(2)
                    .Items(items =>
                    {
                        items.AddSimpleFor(m => m.UploadStartDate)
                        .Label(l => l.Text("Start Date"))
                        .IsRequired(true)
                        .Template(@<text>
	                        @(Html.DevExtreme().DateBoxFor(m => m.UploadStartDate)
                            .Name("UploadStartDate")
                            .Placeholder("")
                            .PickerType(DateBoxPickerType.Rollers)
                            .OnValueChanged("PPG.manageBinSchemas.startDate_onValueChanged")
                            .OnInitialized("PPG.manageBinSchemas.startDate_onInitialized")
                            )
	                    </text>);
                    });

                    groups.AddGroup()
                    .ColSpan(2)
                    .ColCount(2)
                    .Items(items =>
                    {
                        items.AddSimpleFor(m => m.BinUploadFile)
                        .IsRequired(true)
                        .Template(@<text>
	                        @(Html.DevExtreme().FileUploader()
                                .ID("binSchemaFileUploader")
                                .Name("BinUploadFile")
                                .SelectButtonText("Bin Schema File")
                                .LabelText("")
                                .Multiple(false)
                                .Accept("application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel")
                                .UploadMode(FileUploadMode.UseForm)
                                .AllowedFileExtensions(new[] { ".xls", ".xlsx" })
                                .OnValueChanged("PPG.manageBinSchemas.binSchemaFileUploader_onValueChanged")
                                )
	                        </text>);
                    });

                    groups.AddGroup()
                    .ColSpan(2)
                    .ColCount(2)
                    .Items(items =>
                    {
                        items.AddButton()
                            .ButtonOptions(b =>
                                b
                                .ID("cancelButton")
                                .Text("Cancel")
                                .Type(ButtonType.Normal)
                                .UseSubmitBehavior(false)
                                .OnClick("PPG.manageBinSchemas.cancelButton_onClick")
                            );

                        items.AddButton()
                            .ButtonOptions(b =>
                                b
                                .ID("importBinSchemasButton")
                                .Text("Upload")
                                .Type(ButtonType.Success)
                                .UseSubmitBehavior(false)
                                .OnClick("PPG.manageBinSchemas.importBinSchemasButton_onClick")
                            );
                    });

                })
        )
    }

}


@(Html.DevExtreme().DataGrid<IEnumerable<ZipExcel>>()
    .ID("exportGrid")
    .Export(e => e.Enabled(true)
    .AllowExportSelectedData(false))
    .OnExporting("PPG.manageBinSchemas.exportGrid_onExporting")
    .Visible(false)
    )


@section Scripts {
    <environment include="Development">
        <script src="~/js/ppg/ppg.service-management-bin-schemas.bundle.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/ppg/ppg.service-management-bin-schemas.bundle.min.js" asp-append-version="true"></script>
    </environment>

    <script>
        document.addEventListener('DOMContentLoaded', function documentReady() {
            this.removeEventListener('DOMContentLoaded', documentReady);
            PPG.manageBinSchemas.init();
        });

    </script>
}


