@model ManageBinSchemasViewModel

@{
    ViewData["Title"] = "Service Management";
}

<h2 class="content-block">Service Management <i class="dx-icon dx-icon-spinright"></i> Manage Bin Mappings</h2>
<p class="page-desc">Bin mappings associate postal zip to a physical bin defined in a site Bin Schema for a customer at each site.</p>

<div class="content-block">
    <div class="ppg-container-cols">
        @*<div style="grid-column: 1 / span 12;">
                <div class="ppg-label">Client</div>
                @(Html.DevExtreme().SelectBox()
                                .ID("binMappingsClientSelectBox")
                                .DataSource(d => d.Mvc().Controller("Common").LoadAction("GetClientSelectBoxData"))
                                .DisplayExpr("Name")
                                .ValueExpr("Name")
                                .Placeholder("")
                                .OnValueChanged("PPG.manageBinMappings.binMappingsClientSelectBox_onValueChanged")
                            )
            </div>*@
        <div style="grid-column: 1 / span 12;">
            <div class="ppg-label">Customer\Location</div>
            @(Html.DevExtreme().SelectBox()
                            .ID("binMappingsSubClientSelectBox")
                            .DataSource(d => d.Mvc().Controller("Common").LoadAction("GetSubClientSelectBoxData"))
                            .DeferRendering(false)
                            .DisplayExpr("Description")
                            .ValueExpr("Name")
                            .Placeholder("")
                            .OnValueChanged("PPG.manageBinMappings.binMappingsSubClientSelectBox_onValueChanged")
                        )
        </div>
    </div>
</div>

<div class="content-block">
    <div class="dx-card" id="binMappingsCard">
        <div class="ppg-card-header-cols">
            <div style="grid-column: 1 / span 9;">
                @(Html.DevExtreme().Button()
                    .ID("upload-button")
                    .Icon("upload")
                    .OnClick("PPG.manageBinMappings.uploadButton_onClick")
                    )
                @(Html.DevExtreme().Tooltip()
                    .Target("#upload-button")
                    .Position(Position.Top)
                    .ContentTemplate("Upload")
                    .ShowEvent("mouseenter")
                    .HideEvent("mouseleave"))
            </div>
            <div style="grid-column: 10 / span 3;" class="right">
                @(Html.DevExtreme().Button()
                .ID("exportButton")
                .Icon("xlsxfile")
                .Disabled(true)
                .OnClick("PPG.manageBinMappings.exportButton_onClick")
                )
                @(Html.DevExtreme().Tooltip()
                    .ID("exportButtonTooltip")
                    .Target("#exportButton")
                    .Position(Position.Top)
                    .ContentTemplate("Download")
                    .ShowEvent("mouseenter")
                    .HideEvent("mouseleave"))
            </div>
        </div>
        @(Html.DevExtreme().DataGrid<ActiveGroupViewModel>()
            .DataSource(d => d.Mvc()
            .Controller("ServiceManagement")
            .LoadAction(nameof(ParcelPrepGov.Web.Features.ServiceManagement.ServiceManagementController.GetBinMappingActiveGroups))
            .LoadParams(new { subClient = new JS("PPG.manageBinMappings.getSelectedBinMappingsSubClient") })
            .Key("Id"))
            .ID("binMappingsActiveGroupsGrid")
            .Selection(s => s.Mode(SelectionMode.Single))
            .HoverStateEnabled(true)
            .ShowColumnLines(true)
            .ShowRowLines(true)
            .ShowBorders(true)
            .HoverStateEnabled(true)
            .FocusedRowEnabled(true)
            .OnFocusedRowChanged("PPG.manageBinMappings.grid_onFocusedRowChanged")
            .LoadPanel(x => x.Enabled(true))
            .AllowColumnResizing(true)
            .AllowColumnReordering(true)
            .SearchPanel(searchPanel => searchPanel.Visible(false))
            .FilterRow(f => f.Visible(true))
            .Columns(columns => {
                columns.Add().DataField("StartDate").Caption("Start Date").DataType(GridColumnDataType.Date).Format(Format.ShortDate).SortOrder(SortOrder.Desc);
                columns.Add().DataField("Filename").Caption("File Name");
                columns.Add().DataField("Name").Caption("SubClient").Width(180);
                columns.Add().DataField("UploadedBy").Caption("Upload By").Width(125);
                columns.Add().DataField("UploadDate").Caption("Upload Date\\Time").DataType(GridColumnDataType.DateTime).Format(Format.ShortDateShortTime).Width(200);
            })

        .Paging(paging => paging.PageSize(10))
        .Pager(pager =>
        {
            pager.ShowPageSizeSelector(true);
            pager.AllowedPageSizes(new[] { 5, 10, 20 });
            pager.ShowInfo(true);
        })
        )
    </div>
</div>

@(Html.DevExtreme().Popup()
        .ID("uploadBinMaps-popup")
        .Width(800)
        .Height(700)
        .ShowTitle(true)
        .Title("Upload")
        .Visible(false)
        .DragEnabled(false)
        .CloseOnOutsideClick(false)
        .OnShowing("PPG.manageBinMappings.popup_onShowing")
        .OnContentReady("PPG.manageBinMappings.popup_OnContentReady")
        .OnHiding("PPG.manageBinMappings.popup_onHiding")
        .ContentTemplate(new TemplateName("uploadBinMaps-template")))

@using (Html.DevExtreme().NamedTemplate("uploadBinMaps-template"))
{
    @using (Html.BeginForm("ImportBinMappings", "ServiceManagement", FormMethod.Post, new { @id = "formManageBinMaps" }))
    {
        @(Html.DevExtreme().Form<ManageBinSchemasViewModel>()
                .ID("ManageBinMappingsForm")
                .ColCount(2)
                .Items(groups =>
                {
                    groups.AddGroup()
                    .ColSpan(2)
                    .Items(items =>
                    {
                        items.AddSimpleFor(m => m.UploadStartDate).Template(@<text>
	                        @(Html.DevExtreme().DateBoxFor(m => m.UploadStartDate)
                            .Name("UploadStartDate")
                            .Placeholder("")
                            .PickerType(DateBoxPickerType.Rollers)
                            .OnValueChanged("PPG.manageBinMappings.startDate_onValueChanged")
                            .OnInitialized("PPG.manageBinMappings.startDate_onInitialized")
                            )
	                    </text>);
                    });

                    groups.AddGroup()
                    .ColSpan(2)
                    .ColCount(2)
                    .Items(items =>
                    {
                        items.AddSimpleFor(m => m.FiveDigitFile).Template(@<text>
	                        @(Html.DevExtreme().FileUploader()
		                        .ID("fiveDigitZipFileUploader")
                                .SelectButtonText("5 Digit Zip File")
                                .LabelText("")
                                .Name("FiveDigitFile")
                                .Multiple(false)
                                .Accept("application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel")
                                .UploadMode(FileUploadMode.UseForm)
                                .AllowedFileExtensions(new[] { ".xls", ".xlsx" })
                                .OnValueChanged("PPG.manageBinMappings.fiveDigitZipFileUploader_onValueChanged")
                                )
	                        </text>);

                        items.AddSimpleFor(m => m.ThreeDigitFile).Template(@<text>
	                        @(Html.DevExtreme().FileUploader()
                                .ID("threeDigitZipFileUploader")
                                .SelectButtonText("3 Digit Zip File")
                                .LabelText("")
                                .Multiple(false)
                                .Name("ThreeDigitFile")
                                .Accept("application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel")
                                .UploadMode(FileUploadMode.UseForm)
                                .AllowedFileExtensions(new[] { ".xls", ".xlsx" })
                                .OnValueChanged("PPG.manageBinMappings.threeDigitZipFileUploader_onValueChanged")
                                )
	                        </text>);
                    });

                    groups.AddGroup()
                    .ColSpan(2)
                    .ColCount(2)
                    .Items(items =>
                    {
                        items.AddButton()
                            .ButtonOptions(b =>
                                b
                                .ID("cancelButton")
                                .Text("Cancel")
                                .Type(ButtonType.Normal)
                                .UseSubmitBehavior(false)
                                .OnClick("PPG.manageBinMappings.cancelButton_onClick")
                            );

                        items.AddButton()
                            .ButtonOptions(b =>
                                b
                                .ID("importBinMappingsButton")
                                .Text("Upload")
                                .Type(ButtonType.Success)
                                .UseSubmitBehavior(false)
                                .OnClick("PPG.manageBinMappings.importBinMappingsButton_onClick")
                            );
                    });

                })
        )
    }
}


@(Html.DevExtreme().DataGrid<IEnumerable<ZipExcel>>()
    .ID("exportGrid")
    .Export(e => e.Enabled(true).AllowExportSelectedData(false))
    .OnExporting("PPG.manageBinMappings.exportGrid_onExporting")
    .Visible(false))


@section Scripts {
    <environment include="Development">
        <script src="~/js/ppg/ppg.service-management-bin-mappings.bundle.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/ppg/ppg.service-management-bin-mappings.bundle.min.js" asp-append-version="true"></script>
    </environment>
    
    <script>
        document.addEventListener('DOMContentLoaded', function documentReady() {
            this.removeEventListener('DOMContentLoaded', documentReady);
            PPG.manageBinMappings.init();
        });
    </script>
}


