@{
    ViewData["Title"] = "Help";
}

@section Head {
    <style>
        .dx-popup-content {
            padding: 0;
        }

        .grid-container {
            display: grid;
            grid-template-rows: auto;
            justify-items: center;
            align-items: center;
        }

        .form {
            grid-column-start: 1;
            padding: 1em;
            width: 90%;
        }
    </style>
}

@(Html.DevExtreme().Popup()
        .Title("Sign in help")
        .Visible(true)
        .ShowCloseButton(true)
        .Width(500)
        .Height(580)
        .OnHidden("PPG.help.onHidden")
        .ContentTemplate(new TemplateName("help-template"))
)

@using (Html.DevExtreme().NamedTemplate("help-template"))
{

    @(Html.DevExtreme().TabPanel()
            .Height(520)
            .Items(i => {
                i.Add().Title("Change password").Template(new TemplateName("change-password-template"));
                i.Add().Title("Forgot password").Template(new TemplateName("forgot-password-template"));
            }).SelectedIndex(0)
            //.OnItemRendered("DevAV.products.tabItemRendered")
            )

}

@using (Html.DevExtreme().NamedTemplate("change-password-template"))
{
    <div class="grid-container">
        <div class="form">
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
            {

                @(Html.DevExtreme().Form<PasswordResetRequest>()
                    .ID("changePasswordForm")
                    .ColCount(1)
            .Items(items =>
            {
                items.AddSimpleFor(m => m.Username).Editor(e => e.TextBox().ID("username")).IsRequired(true);
                items.AddSimpleFor(m => m.CurrentPassword).Editor(e => e.TextBox().Mode(TextBoxMode.Password)).IsRequired(true);
                items.AddSimpleFor(m => m.NewPassword).Editor(e => e.TextBox().Mode(TextBoxMode.Password)).IsRequired(true);
                items.AddSimpleFor(m => m.ConfirmPassword).Editor(e => e.TextBox().Mode(TextBoxMode.Password)).IsRequired(true);
                items.AddSimple().Template("<a href='#' id='pwdreq'>Password Requirements</a>");
                items.AddGroup().Items(innerGroupItems =>
                {
                    innerGroupItems.AddButton()
                        .HorizontalAlignment(HorizontalAlignment.Right)
                        .VerticalAlignment(VerticalAlignment.Bottom)
                        .ButtonOptions(b => b.Text("Submit")
                        .Type(ButtonType.Default)
                        .OnClick("PPG.changePassword.isFormValid")
                        .UseSubmitBehavior(true));
                }).ColCount(1);

            })
        .FormData(Model))
            }
        </div>
    </div>
}

@using (Html.DevExtreme().NamedTemplate("forgot-password-template"))
{

<div class="grid-container">


    <h3 style="margin-top:50px">Enter your username to receive a link to reset your password.</h3>

    <div class="form">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
        {

            @(Html.DevExtreme().Form<ForgotPasswordRequest>()
                    .ID("forgotPasswordForm")
                    .ColCount(1)
            .Items(items =>
            {
                items.AddSimpleFor(m => m.Username).Editor(e => e.TextBox().ID("username")).IsRequired(true);
                items.AddEmpty();
                items.AddGroup().Items(innerGroupItems =>
                {
                    innerGroupItems.AddButton()
                        .HorizontalAlignment(HorizontalAlignment.Right)
                        .VerticalAlignment(VerticalAlignment.Bottom)
                        .ButtonOptions(b => b.Text("Send Request")
                        .Type(ButtonType.Default)
                        .OnClick("PPG.forgotPassword.onClick")
                        .UseSubmitBehavior(true));
                }).ColCount(1);

            })
        .FormData(Model))
        }
    </div>
</div>
}

@(Html.DevExtreme().Popover()
                .Target("#pwdreq")
                .ShowEvent("mouseenter")
                .HideEvent("mouseleave")
                .Position(Position.Bottom)
                .Width(500)
                .ContentTemplate(@<text>
<ul style="font-size:smaller;">
                        <li>Passwords must be at least 8 characters.</li>
                        <li>Passwords must contain at least 2 uppercase letters.</li>
                        <li>Passwords must contain at least 2 lowercase letters.</li>
                        <li>Passwords must contain at least 4 numbers.</li>
                        <li>Passwords cannot contain consecutive equal characters.</li>
                        <li>Passwords cannot contain more than 2 consecutive sequential numbers.</li>
                    </ul>
                </text>)
            )

@section Scripts {
    <script src="~/js/ppg/ppg.account-help.bundle.min.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function documentReady() {
            this.removeEventListener('DOMContentLoaded', documentReady);
        });
    </script>
}