@model ParcelPrepGov.Web.Features.RecallRelease.Models.EmailRecallReleaseViewModel

<h2>Release(s) have been submitted by <a href="mailto:@(Model.Email)">@Model.Email</a> at @Model.Timestamp to @Model.SiteGencoName</h2>

@if (Model.FailedPackageIds.Count + Model.LockedPackageIds.Count > 0)
{
    <h2>Packages Not Released:</h2>
    <ul>
        @foreach (var packageId in Model.LockedPackageIds)
        {
            <li><a href="https://@Model.Host/PackageSearch?packageId=@packageId">@packageId</a></li>
        }
        @foreach (var packageId in Model.FailedPackageIds)
        {
            <li><a href="https://@Model.Host/PackageSearch?packageId=@packageId">@packageId</a></li>
        }
    </ul>
}

@if (Model.PackageIds.Count > 0)
{
    <h2>Packages Released:</h2>
    <ul>
        @foreach (var packageId in Model.PackageIds)
        {
            <li><a href="https://@Model.Host/PackageSearch?packageId=@packageId">@packageId</a></li>
        }
    </ul>
}