@model PackageSearchViewModel
@{
    ViewData["Title"] = "Package Search";
    var searchFlags = new[] { "Package Id", "Shipping Carrier Barcode" };
}

<iframe id="printf"></iframe>

<h2 class="content-block noPrint">Package Search</h2>

@* style affects these inputs on this page only*@
<style>
    #printf{
        display: none !important;
    }
    .flex-container{
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
    }

    table.ppg-table td:first-child {
        font-weight: normal;
    }

    .dx-fileuploader-input-wrapper {
        padding: 0px;
    }

    .dx-fileuploader-input-wrapper {
        border: 0px solid white;
    }

    .dx-header-row {
        color: white !important; 
        background-color: #007bff !important;
    }

    .dx-header-row > td {
        font-size: 20px !important;
        border: 1px solid white !important;
    }

    .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
        line-height: 24px !important;
    }

        @@media print {
            @@page {
                size: landscape;
                margin: 0;
                width: 1250px;
                zoom: 70%;
            }

            #printf{
                display: block;
            }

        }


</style>

@*<div class="content-block">
        @(Html.DevExtreme().RadioGroup().ID("searchFlagRadioGroup").Items(searchFlags).OnValueChanged("PPG.packageSearch.searchFlag_valueChanged").Layout(Orientation.Horizontal))
    </div>*@

<div class="content-block">
    <div class="dx-card" id="packageSearchCard">
        <div class="ppg-container-cols flex-container">
            <div class="dx-col-4">
                @(Html.DevExtreme().Autocomplete()
                .ID("packageIdAutocomplete")
                .Visible(true)
                .Value(Model.PackageId)
                .Buttons(buttons =>
                {
                    buttons.Add()
                    .Name("Search")
                    .Location(TextEditorButtonLocation.After)
                    .Widget(w => w.Button()
                        .Icon("search")
                        .Type(ButtonType.Default)                        
                        .OnClick("PPG.packageSearch.searchPackages_onClick"));
                })
                .ShowClearButton(true).Width(600))
            </div>
            <div class="dx-col-2">
                @(Html.DevExtreme().Button()
                .ID("SearchPackages")
                .Text("Search")
                .Type(ButtonType.Normal)
                .OnClick("PPG.packageSearch.searchPackages_onClick"))
            </div>
            <div class="dx-col-2">
                <form id="uploadForm" enctype="multipart/form-data">
                    @(Html.DevExtreme().FileUploader()
                    .ID("fileUploader")
                    .Name("searchFile")
                    .SelectButtonText("Choose File")
                    .Accept("text/csv")
                    .UploadMode(FileUploadMode.UseForm)
                    .Width(250)
                    .AllowedFileExtensions(new[] { ".csv" })
                    .OnValueChanged("PPG.packageSearch.fileUploader_onValueChanged"))
                    <span class="note">Allowed file extensions: <span>.csv</span>.</span>
                </form>
            </div>
            <div class="dx-col-2">
                @(Html.DevExtreme().Button()
                .ID("btnExport")
                .Text("Export")
                .Type(ButtonType.Success)
                .Visible(false)
                .Icon("xlsxfile")
                .OnClick("PPG.packageSearch.exportFile")
                                )
            </div>
            <div class="dx-col-2">
                @(Html.DevExtreme().Button()
                .ID("btnExportPdf")
                .Text("Print")
                .Type(ButtonType.Danger)
                .Visible(false)
                .Icon("pdffile")
                .OnClick("PPG.packageSearch.printFile"))
            </div>
        </div>
    </div>
</div>

<div id="section-to-print">
<div id="mainWrapper" class="content-block">
    <div class="dx-card">
        @* Following section when single package result *@
        @*KNOCKOUT SCRIPT*@
        <div id="search-results" style="grid-column: 1 / span 12;">
            <div data-bind="foreach: PackageList">
                <table class="ppg-table" style="margin-bottom:15px">
                    <thead>
                        <tr style="text-align: left; font-size: larger;">
                            <th style="width: 25%;">Package Details</th>
                            <th style="width: 25%;">Shipping Details</th>
                            <th style="width: 25%;">Package Diagnostics</th>
                            <th style="width: 25%;">Delivery Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>Package ID:</b><br /><span data-bind="text: PackageId"></span></td>                            
                            <td><b>Shipping Barcode:</b>&emsp; <span class="bindShippingBarCode"></span> </td>
                            <td>
                                <p>
                                    <b>FSC Job: </b> &emsp; <span data-bind="text: FscJob"></span> : <span data-bind="text: MailCode"></span>
                                </p>
                                <p>
                                    <b>Container ID: </b>  &emsp; <span data-bind="text: ContainerId"></span>
                                </p>
                            </td>
                            <td>
                                <b>Local Processed Date:</b>&emsp; <span data-bind="text: ProcessedDate"> </span>
                            </td>
                        </tr>
                        <tr>
                            <td>            
                                <p>
                                    @{
                                        if (!User.IsClientWebPackageSearchUser())
                                        {
                                            <b>Inquiry ID:</b>@:&emsp;<a data-bind="attr: { href: InquiryIdHyperLink }, text: InquiryId"></a>
                                        }
                                    }
                                </p>
                                <p>
                                    <b>SR#: </b><span data-bind="text: ServiceRequestNumber"></span>
                                </p>
                            </td>
                            <td><b>Shipping Carrier:</b>&emsp; <span data-bind="text: ShippingCarrier"></span></td>
                            <td>
                                <b>Bin Code:</b>&emsp; <span data-bind="text: BinCode"></span>

                                @{
                                    if (User.IsSupervisor() || User.IsAdministrator() || User.IsQualityAssurance() ||
                                        User.IsUserManager() || User.IsSiteOperator() || User.IsClientWebUser() || 
                                        User.IsClientWebAdministrator() || User.IsFscWebFinancialUser() || User.IsSystemAdministrator())
                                    {
                                        <div class="bindBinCode">more info</div>
                                    }
                                    else
                                    {

                                    }
                                }
                            </td>
                            <td>
                                <b>Stop the Clock Date:</b>&emsp; <span data-bind="text: StopTheClockDate"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Package Status:</b>&emsp; <span data-bind="text: PackageStatus"></span>
                            </td>
                            <td><b>Client Name:</b>&emsp; <span data-bind="text: ClientName"></span></td>
                            <td><b>Bin Code Description:</b>&emsp; <span data-bind="text: BinCodeDescription"></span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><b>Site:</b>&emsp; <span data-bind="text: SiteName"></span></td>
                            <td><b>Shipping Method:</b>&emsp; <span data-bind="text: ShippingMethod"></span></td>
                            <td><b>Zone:</b>&emsp; <span data-bind="text: Zone"></span></td>
                            <td><b>Last Known Event Date:</b>&emsp; <span data-bind="text: LastKnownDate"></span></td>
                        </tr>
                        <tr>
                            @{
                                if (User.IsSubClientWebAdministrator() || User.IsSubClientWebUser() 
                                    || User.IsClientWebAdministrator() || User.IsClientWebUser()
                                    || User.IsCustomerService())
                                {
                                    // show nothing
                                }
                                else
                                {
                                    <td><b>Recipient Name:</b>&emsp; <span data-bind="text: RecipientName"></span></td>
                                }
                            }
                            <td><b>Service Level:</b>&emsp; <span data-bind="text: ServiceLevel"></span></td>
                            <td><b>Weight:</b>&emsp; <span data-bind="text: Weight"></span></td>
                            <td><b>Last Known Event Desc:</b>&emsp; <span data-bind="text: LastKnownDescription"></span></td>
                        </tr>
                        <tr>
                            <td><b>Address 1:</b>&emsp; <span data-bind="text: AddressLine1"></span></td>
                            <td><b>Med Center Site ID:</b><label style="margin: 30px;"> <span data-bind="text: MedicalCenterId"></span></label></td>
                            <td>
                                <b>Is PO Box:</b><label style="margin: 30px;"><input type="checkbox" style="width: 50px;" data-bind="checked:IsPoBox" /></label>
                                &emsp;<b>Is ORMD:</b><label style="margin: 22px;"><input type="checkbox" style="width: 50px; margin: 0px;" data-bind="checked:IsOrmd" /></label>
                            </td>
                            <td>
                                <b>Last Known Event Location:</b>&emsp; <span data-bind="text: LastKnownLocation"></span>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Address 2:</b>&emsp; <span data-bind="text: AddressLine2"></span></td>
                            <td><b>Medical Center Name:</b><label style="margin: 30px;"><span data-bind="text: MedicalCenterName"></span></label></td>
                            <td>
                                <b>Is UPS DAS:</b><label style="margin: 26px;"><input type="checkbox" style="width: 50px; margin: 0px;" data-bind="checked:IsUpsDas" /></label>
                                &emsp;<b>Is Saturday:</b> <label style="margin: 5px;"><input type="checkbox" style="width: 50px; margin: 0px;" data-bind="checked:IsSaturday" /></label>
                            </td>
                            <td> <b>Last Known Event Zip:</b>&emsp; <span data-bind="text: LastKnownZip"></span></td>
                        </tr>
                        <tr>
                            <td><b>City:</b>&emsp; <span data-bind="text: City"><%=City%></span></td>
                            <td><b>Medical Center Address 1:</b><label style="margin: 30px;"><span data-bind="text: MedicalCenterAddress1"></span></label></td>
                            <td>
                                <b>Is Outside 48:</b> <label style="margin: 9px;"><input type="checkbox" style="width: 50px;" data-bind="checked:IsOutside48States" /></label>
                                &emsp;<b style="margin: 11px;">Is DDU or SCF bin:</b><label style="margin: -10px;"><input type="checkbox" style="width: 50px;" data-bind="checked:IsDduScfBin" /></label>
                            </td>
                            <td> <b>Is Stop The Clock:</b>&emsp; <input type="checkbox" style="width: 50px;" data-bind="checked:IsStopTheClock" /></td>
                        </tr>
                        <tr>
                            <td><b>State:</b>&emsp; <span data-bind="text: State"></span></td>
                            <td><b>Medical Center Address 2:</b><label style="margin: 30px;"><span data-bind="text: MedicalCenterAddress2"></span></label></td>
                            <td>
                                <b>Is Rural:</b> <label style="margin: 9px;"><input type="checkbox" style="width: 50px;" data-bind="checked:IsRural" /></label>
                                <b>Mail Code:</b>&emsp; <span data-bind="text: MailCode"></span>
                            </td>
                            <td> <b>Is Undeliverable:</b>&emsp; <input type="checkbox" style="width: 50px;" data-bind="checked:IsUndeliverable" /></td>
                        </tr>
                        <tr>
                            <td><b>Zip Code:</b>&emsp; <span data-bind="text: Zip"><%=Zip%></span></td>
                            <td><b>Medical Center CSZ:</b><label style="margin: 30px;"><span data-bind="text: MedicalCenterCsz"></span></label></td>
                            <td>
                                <b>Created Date:</b>&emsp;<span data-bind="text: CosmosCreateDate"></span>
                            </td>
                            <td>
                                <b>Markup Type:</b>&emsp;<span data-bind="text: MarkupType"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>                

                @* datagrid, contains all data for each record *@
                <table style="width: 100%;">
                    <thead style="color: white; background-color: #007bff !important;">
                        <tr style="text-align: center; font-size: larger;">
                            <th>Shipping Carrier</th>
                            <th>Tracking Number</th>
                            <th>Event Date</th>
                            <th>Event Description</th>
                            <th>Event Location</th>
                            <th>User Name</th>
                            @{
                                if (User.IsSubClientWebAdministrator() || User.IsSubClientWebUser() 
                                    || User.IsClientWebAdministrator() || User.IsClientWebUser()
                                    || User.IsCustomerService())
                                {
                                    // show nothing
                                }
                                else
                                {
                                    <th>Display Name</th>
                                }
                            }
                            <th>Event Code</th>
                            <th>Event Zip</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: PackageTracking">
                        <tr>
                            <td><span data-bind="text: ShippingCarrier"></span></td>
                            <td><span data-bind="text: TrackingNumber"></span></td>
                            <td><span data-bind="text: DevExpress.localization.formatDate(new Date(EventDate), 'MM/dd/yyyy HH:mm:ss a')"></span></td>
                            <td><span data-bind="text: EventDescription"></span></td>
                            <td><span data-bind="text: EventLocation"></span></td>
                            <td><span data-bind="text: Username"></span></td>
                                      @{
                                if (User.IsSubClientWebAdministrator() || User.IsSubClientWebUser() 
                                    || User.IsClientWebAdministrator() || User.IsClientWebUser()
                                    || User.IsCustomerService())
                                {
                                    // show nothing
                                }
                                else
                                {
                                     <td><span data-bind="text: DisplayName"></span></td>
                                }
                            }                           
                            <td><span data-bind="text: EventCode"></span></td>
                            <td><span data-bind="text: EventZip"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        @* Following section when multiple packages results *@
        @* DEVEXPRESS component for devextreme to load tab template information*@
        <script type="text/html" id="packagesToRender">
            <div class="ppg-container-cols">
                <div style="grid-column: 1 / span 12;">
                    <div>
                        <table class="ppg-table" style="margin-bottom:15px">
                            <thead>
                                <tr style="text-align: left; font-size: larger;">
                                    <th style="width: 25%;">Package Details</th>
                                    <th style="width: 25%;">Shipping Details</th>
                                    <th style="width: 25%;">Package Diagnostics</th>
                                    <th style="width: 25%;">Delivery Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><b>Package ID:</b><br /><span data-bind="text: PackageId"><%=PackageId%></span></td>
                                    <td><b>Shipping Barcode:</b>&emsp; <span class="bindShippingBarCode"></span></td>
                                    <td>
                                        <p>
                                            <b>FSC Job: </b> &emsp; <span data-bind="text: FscJob"><%=FscJob%></span> : <span data-bind="text: MailCode"><%=MailCode%></span>
                                        </p>
                                        <p>
                                            <b>Container ID: </b>  &emsp; <span data-bind="text: ContainerId"><%=ContainerId%></span>
                                        </p>
                                    </td>
                                    <td>
                                        <b>Local Processed Date:</b>&emsp; <span data-bind="text: ProcessedDate"><%=ProcessedDate%></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>
                                            @{
                                                if (!User.IsClientWebPackageSearchUser())
                                                {
                                                    <b>Inquiry ID:</b><a href="<%=InquiryIdHyperLink%>" data-bind="attr: { href: InquiryIdHyperLink }, text: InquiryId"><%=InquiryId%></a>
                                                }
                                            }
                                        </p>
                                        <p>
                                            <b>SR#: </b><span data-bind="text: ServiceRequestNumber"><%=ServiceRequestNumber%></span>
                                        </p>
                                    </td>
                                    <td><b>Shipping Carrier:</b>&emsp; <span data-bind="text: ShippingCarrier"><%=ShippingCarrier%></span></td>
                                    <td>
                                        <b>Bin Code:</b>&emsp; <span data-bind="text: BinCode"><%=BinCode%></span>

                                        @{
                                            if (User.IsSupervisor() || User.IsAdministrator() || User.IsQualityAssurance() ||
                                                User.IsUserManager() || User.IsSiteOperator() || User.IsClientWebUser() || User.IsClientWebAdministrator()
                                                || User.IsFscWebFinancialUser() || User.IsSystemAdministrator())
                                            {
                                                <div class="bindBinCode">more info</div>
                                            }
                                            else
                                            {

                                            }
                                        }

                                    </td>
                                    <td>
                                        <b>Stop the Clock Date:</b>&emsp; <span data-bind="text: StopTheClockDate"><%=StopTheClockDate%></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Package Status:</b>&emsp; <span data-bind="text: PackageStatus"><%=PackageStatus%></span>
                                    </td>
                                    <td><b>Client Name:</b>&emsp; <span data-bind="text: ClientName"></span><%=ClientName%></td>
                                    <td><b>Bin Code Description:</b>&emsp; <span data-bind="text: BinCodeDescription"><%=BinCodeDescription%></span></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><b>Site:</b>&emsp; <span data-bind="text: SiteName"><%=SiteName%></span></td>
                                    <td><b>Shipping Method:</b>&emsp; <span data-bind="text: ShippingMethod"><%=ShippingMethod%></span></td>
                                    <td><b>Zone:</b>&emsp; <span data-bind="text: Zone"><%=Zone%></span></td>
                                    <td><b>Last Known Event Date:</b>&emsp; <span data-bind="text: LastKnownDate"><%=LastKnownDate%></span></td>
                                </tr>
                                <tr>
                                    @{
                                        if (User.IsSubClientWebAdministrator() || User.IsSubClientWebUser() 
                                            || User.IsClientWebAdministrator() || User.IsClientWebUser()
                                            || User.IsCustomerService())
                                        {
                                            // show nothing
                                        }
                                        else
                                        {
                                            <td><b>Recipient Name:</b>&emsp; <span data-bind="text: RecipientName"><%=RecipientName%></span></td>
                                        }
                                    }
                                    <td><b>Service Level:</b>&emsp; <span data-bind="text: ServiceLevel"><%=ServiceLevel%></span></td>
                                    <td><b>Weight:</b>&emsp; <span data-bind="text: Weight"><%=Weight%></span></td>
                                    <td><b>Last Known Event Desc:</b>&emsp; <span data-bind="text: LastKnownDescription"><%=LastKnownDescription%></span></td>
                                </tr>
                                <tr>
                                    <td><b>Address 1:</b>&emsp; <span data-bind="text: AddressLine1"><%=AddressLine1%></span></td>
                                    <td><b>Med Center Site ID:</b><label style="margin: 30px;"> <span data-bind="text: MedicalCenterId"><%=MedicalCenterId%></span></label></td>
                                    <td>
                                        <b>Is PO Box:</b>
                                        <label style="margin: 30px;"><span class="poBoxCheck" style="width: 50px;"></span></label>
                                        &emsp;<b>Is ORMD:</b><label style="margin: 22px;"><span style="width: 50px; margin: 0px;" class="ormdCheck" /></label>
                                    </td>
                                    <td>
                                        <b>Last Known Event Location:</b>&emsp; <span data-bind="text: LastKnownLocation"><%=LastKnownLocation%></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Address 2:</b>&emsp; <span data-bind="text: AddressLine2"><%=AddressLine2%></span></td>
                                    <td><b>Medical Center Name:</b><label style="margin: 30px;"><span data-bind="text: MedicalCenterName"><%=MedicalCenterName%></span></label></td>
                                    <td>
                                        <b>Is UPS DAS:</b><label style="margin: 26px;">
                                            <span class="upDasCheck" style="width: 50px; margin: 0px;">
                                            </span>
                                        </label>
                                        &emsp;<b>Is Saturday:</b> <div class="saturdayCheck" style="width: 50px; margin: 0px;"></div>
                                    </td>
                                    <td> <b>Last Known Event Zip:</b>&emsp; <span data-bind="text: LastKnownZip"><%LastKnownZip%></span></td>
                                </tr>
                                <tr>
                                    <td><b>City:</b>&emsp; <span data-bind="text: City"><%=City%></span></td>
                                    <td><b>Medical Center Address 1:</b><label style="margin: 30px;"><span data-bind="text: MedicalCenterAddress1"><%=MedicalCenterAddress1%></span></label></td>
                                    <td>
                                        <b>Is Outside 48:</b> <label style="margin: 9px;">
                                            <span class="outsideFortyEightStates" style="width: 50px;"></span>
                                        </label>
                                        &emsp;<b style="margin: 11px;">Is DDU or SCF bin:</b><label style="margin: -10px;"><span class="dduScfBin" style="width: 50px;"></span></label>
                                    </td>
                                    <td>
                                        <b>Is Stop The Clock</b> <label style="margin: 9px;">
                                            <span class="isStopTheClockCheck" style="width: 50px;"></span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>State:</b>&emsp; <span data-bind="text: State"><%=State%></span></td>
                                    <td><b>Medical Center Address 2:</b><label style="margin: 30px;"><span data-bind="text: MedicalCenterAddress2"><%=MedicalCenterAddress2%></span></label></td>
                                    <td>
                                         <b>Is Rural</b> <label style="margin: 9px;">
                                            <span class="isRuralCheck" style="width: 50px;"></span>
                                        </label>                                      
                                        <b>Mail Code:</b>&emsp; <span data-bind="text: MailCode"><%=MailCode%></span>
                                    </td>
                                     <td>
                                        <b>Is Undeliverable</b> <label style="margin: 9px;">
                                            <span class="isUndeliverableCheck" style="width: 50px;"></span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Zip Code:</b>&emsp; <span data-bind="text: Zip"><%=Zip%></span></td>
                                    <td><b>Medical Center CSZ:</b><label style="margin: 30px;"><span data-bind="text: MedicalCenterCsz"><%=MedicalCenterCsz%></span></label></td>
                                    <td>
                                        <b>Created Date:</b>&emsp;<span data-bind="text: CosmosCreateDate"><%=CosmosCreateDate%></span>
                                    </td>
                                    <td>
                                        <b>Markup Type:</b>&emsp;<span data-bind="text: MarkupType"><%=MarkupType%></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        @* datagrid, contains all data for each record *@

                    </div>
                    <!--Equivalent to events, includes internal and external ones-->
                    <div class="packageTrackingGrid"></div>
                </div>
            </div>
        </script>

        <script type="text/html" id="title">
            <span><%= SiteName%></span>
        </script>

        <div id="tabpanel-container">
        </div>

        @* this grid is used when the user elects to search by many package/barcode*@
        <div id="multipleRowGrid"></div>
    </div>
</div>
</div>

@section Scripts {
    <script src="~/js/ppg/ppg.package-search.bundle.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function documentReady() {
            this.removeEventListener('DOMContentLoaded', documentReady);
            PPG.packageSearch.init();
        });
    </script>
}