@{
    ViewData["Title"] = "ASN Reconciliation Report";

}


<h2 class="content-block">Reporting<i class="dx-icon dx-icon-spinright"></i>ASN Reconciliation </h2>
<p class="page-desc">
    ASN Reconciliation
</p>

<div class="content-block">
    <div class="dx-card">
        <div class="ppg-container-cols">
            <div class="dx-col-2">
                <label>Subclient</label>
                @(Html.DevExtreme().SelectBox()
                .ID("subClientName")
                .Name("SubClientName")
                .DataSource(d => d.Mvc().Controller("Common").LoadAction("GetSubClientSelectBoxData"))
                .Placeholder("Name")
                .DisplayExpr("Description")
                .DeferRendering(false)
                .ValueExpr("Name")
                .OnValueChanged("PPG.reports.onSubClientValueChanged")
                .Width(280))
            </div>
            <div class="dx-col-2">
                <label>Manifest From Date</label>
                @(Html.DevExtreme().DateBox()
                .ID("manifestStartDate")
                .Name("ManifestStartDate")
                .OnValueChanged("PPG.reports.onManifestStartDateChanged")
                .Type(DateBoxType.Date)
                .Value(DateTime.Now.AddDays(-6))
                .Width(170)
                .Min(DateTime.Now.AddDays(-180))
                .Max(DateTime.Now)
                )
            </div>
            <div class="dx-col-2">
                <label>Manifest To Date</label>
                @(Html.DevExtreme().DateBox()
                .ID("manifestEndDate")
                .Name("ManifestEndDate")
                .OnValueChanged("PPG.reports.onManifestEndDateChanged")
                .Type(DateBoxType.Date)
                .Value(DateTime.Now)
                .Width(170)
                .Min(DateTime.Now.AddDays(-180))
                .Max(DateTime.Now)
                )

            </div>
            <div class="dx-col-1" style="text-align:right">
                @(Html.DevExtreme().Button()
		                .ID("runReportButton")
				        .Text("Run Report")
                        .ValidationGroup("SubClientName")
				        .OnClick("PPG.reports.onRunAsnReconciliationReport")
                         )
            </div>
            <div class="dx-col-1" style="text-align:right">
                @(Html.DevExtreme().Button()
                    .ID("btnExport")
                    .Text("Export")
                    .Disabled(false)
                    .Icon("xlsxfile")
                    .ValidationGroup("SubClientName")
                    .OnClick("PPG.reports.asnReconciliationExportFile")
                    )
            </div>
        </div>
    </div>
</div>

<div class="content-block">
    <div class="dx-card" id="reportsCard">
        <div class="ppg-container-cols">
            <div class="ppg-container-cols" style="display:none;" id="reportFilter">
                <div class="dx-col-2">
                    Container Type:
                    <div id="ddlFilterByProduct" style="width:300px; height:70px;"></div>
                </div>
                <div class="dx-col-2" style="text-align:right">
                    @(Html.DevExtreme().Button()
                    .ID("btnClearFilter")
                    .Text("Clear Filter")
                    .OnClick("PPG.reports.clearFilter")
                )
                </div>
            </div>
            <div style="grid-column: 1 / span 12;">
                @(Html.DevExtreme().Button().Text("Clear Filters").ID("clearFilterBtn").OnClick("PPG.reports.clearFilters"))
                @(Html.DevExtreme().DataGrid<ParcelPrepGov.Reports.Models.SprocModels.AsnReconciliationDetailMaster>()
                    .ID("reportsGrid")
                    .DataSource(d => d.Mvc()
                    .Controller("Reports")
                    .LoadAction(nameof(ParcelPrepGov.Web.Features.Reports.ReportsController.GetAsnReconciliationDetailMaster))
                    .LoadParams(new
                    {
                        subClientName = new JS("PPG.reports.getSelectedSubClient"),
                        startDate = new JS("PPG.reports.getManifestStartDate"),
                        endDate = new JS("PPG.reports.getManifestEndDate")
                    }))
                    .OnDataErrorOccurred("PPG.reports.runAndExportButtonReenable")
                    .ShowBorders(true)
                    .AllowColumnResizing(true)
                    .LoadPanel(x => x.Enabled(true))
                    .Width("100%")
                        .Height(600)
                        .ShowBorders(true)
                        .ShowRowLines(true)
                        .ShowColumnLines(true)
                        .Scrolling(scrolling =>
                        {
                            scrolling.Mode(GridScrollingMode.Virtual);
                            scrolling.ColumnRenderingMode(GridColumnRenderingMode.Virtual);
                            scrolling.ShowScrollbar(ShowScrollbarMode.Always);
                        })
                    .AllowColumnResizing(true)
                    .ColumnResizingMode(ColumnResizingMode.Widget)
                    .ColumnAutoWidth(true)
                    .OnCellPrepared("cell_prepared")
                    .Columns(columns =>
                    {
                    columns.AddFor(m => m.SUB_CLIENT_NAME).DataType(GridColumnDataType.String).CssClass("minimal");
                    columns.AddFor(m => m.PACKAGE_ID).DataType(GridColumnDataType.String).CssClass("minimal").CalculateCellValue(@<text>
                                function(data) {
                                    return PPG.reports.formatPackageHyperLink(data);
                                }
                            </text>);
                        columns.AddFor(m => m.IMPORT_DATE).DataType(GridColumnDataType.Date).CssClass("minimal").SortOrder(SortOrder.Desc);
                        columns.AddFor(m => m.PACKAGE_STATUS).DataType(GridColumnDataType.String).CssClass("minimal");

                    })
                    .Summary(s => s.TotalItems(items =>
                    {
                        items.AddFor(m => m.PACKAGE_ID).SummaryType(SummaryType.Count);
                    }))

                )
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/ppg/ppg.reports-reports.bundle.min.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function documentReady() {
            this.removeEventListener('DOMContentLoaded', documentReady);
            PPG.reports.init('Asn Reconciliation');
        });

        var dataGrid,
            taskIdEditor;

        function cell_prepared(options) {
            options.cellElement.html(options.value);
        }
    </script>

}