@{
    ViewData["Title"] = "Carrier Report";

}


<h2 class="content-block">Reporting<i class="dx-icon dx-icon-spinright"></i>Carrier Report</h2>
<p class="page-desc">
    Carrier Report
</p>

<div class="content-block">
    <div class="dx-card">
        <div class="ppg-container-cols">
            <div class="dx-col-2">
                <label>Site</label>

                @(Html.DevExtreme().SelectBox()
                .ID("siteName")
                .Name("SiteName")
                .DataSource(d => d.Mvc().Controller("Common").LoadAction("GetSiteSelectBoxData"))
                .Placeholder("Name")
                .DisplayExpr("Description")
                .DeferRendering(false)
                .ValueExpr("Name")
                .OnValueChanged("PPG.reports.onSiteValueChanged")
                .Width(250)
    )
            </div>
            <div class="dx-col-2">
                <label>Manifest From Date</label>
                @(Html.DevExtreme().DateBox()
                .ID("manifestStartDate")
                .Name("ManifestStartDate")
                .OnValueChanged("PPG.reports.onManifestStartDateChanged")
                .Type(DateBoxType.Date)
                .Value(DateTime.Now.AddDays(-6))
                .Width(170)
                .Min(DateTime.Now.AddDays(-180))
                .Max(DateTime.Now)
                )
            </div>
            <div class="dx-col-2">
                <label>Manifest To Date</label>
                @(Html.DevExtreme().DateBox()
                .ID("manifestEndDate")
                .Name("ManifestEndDate")
                .OnValueChanged("PPG.reports.onManifestEndDateChanged")
                .Type(DateBoxType.Date)
                .Value(DateTime.Now)
                .Width(170)
                .Min(DateTime.Now.AddDays(-180))
                .Max(DateTime.Now)
                )

            </div>
            <div class="dx-col-1" style="text-align:right">
                @(Html.DevExtreme().Button()
		                .ID("runReportButton")
				        .Text("Run Report")
                        .ValidationGroup("SubClientName")
				        .OnClick("PPG.reports.onRunCarrierDetailReport")
                         )
            </div>
            <div class="dx-col-1" style="text-align:right">
                @(Html.DevExtreme().Button()
                    .ID("btnExport")
                    .Text("Export")
                    .Disabled(false)
                    .Icon("xlsxfile")
                    .ValidationGroup("SubClientName")
                    .OnClick("PPG.reports.carrierDetailExportFile"))
            </div>
        </div>
    </div>
</div>

<div class="content-block">
    <div class="dx-card" id="reportsCard">
        <div class="ppg-container-cols">
            <div class="ppg-container-cols" style="display:none;" id="reportFilter">
                <div class="dx-col-2">
                    Container Type:
                    <div id="ddlFilterByProduct" style="width:300px; height:70px;"></div>
                </div> 
                <div class="dx-col-2" style="text-align:right">
                    @(Html.DevExtreme().Button()
                    .ID("btnClearFilter")
                    .Text("Clear Filter")
                    .OnClick("PPG.reports.clearFilter")
                )
                </div>
            </div>
            <div style="grid-column: 1 / span 12;">
                @(Html.DevExtreme().Button().Text("Clear Filters").ID("clearFilterBtn").OnClick("PPG.reports.clearFilters"))
                <br />
                <br />
                @(Html.DevExtreme().DataGrid<ParcelPrepGov.Reports.Models.SprocModels.CarrierDetail>()
                    .ID("reportsGrid")
                    .DataSource(d => d.Mvc()
                    .Controller("Reports")
                    .LoadAction(nameof(ParcelPrepGov.Web.Features.Reports.ReportsController.GetCarrierDetailData))
                    .LoadParams(new
                    {
                        siteName = new JS("PPG.reports.getSelectedSite"),
                        startDate = new JS("PPG.reports.getManifestStartDate"),
                        endDate= new JS("PPG.reports.getManifestEndDate")
                    }))
                    .OnDataErrorOccurred("PPG.reports.runAndExportButtonReenable")
                    .ShowBorders(true)
                    .HeaderFilter(h => h.Visible(true).AllowSearch(true))
                    .AllowColumnResizing(true)
                    .LoadPanel(x => x.Enabled(true))
                    .Width("100%")
                    .Height(600)
                    .ShowBorders(true)
                    .ShowRowLines(true)
                    .ShowColumnLines(true)
                    .Scrolling(scrolling =>
                    {
                        scrolling.Mode(GridScrollingMode.Virtual);
                        scrolling.ColumnRenderingMode(GridColumnRenderingMode.Virtual);
                        scrolling.ShowScrollbar(ShowScrollbarMode.Always);
                    })
                    .ColumnResizingMode(ColumnResizingMode.Widget)
                    .ColumnAutoWidth(true)
                    .Columns(columns =>
                    {
                        columns.AddFor(m => m.LOCATION).DataType(GridColumnDataType.String).CssClass("minimal").AllowFiltering(false);
                        columns.AddFor(m => m.MANIFEST_DATE).DataType(GridColumnDataType.Date).CssClass("minimal").AllowFiltering(false)
                            .SortOrder(SortOrder.Desc)
                            .CalculateCellValue(@<text>
                                function(data) {
                                    return data.MANIFEST_DATE_STRING;
                                }
                            </text>);
                        columns.AddFor(m => m.ENTRY_UNIT_NAME).DataType(GridColumnDataType.String).AllowFiltering(false).CssClass("minimal");
                        columns.AddFor(m => m.ENTRY_UNIT_CSZ).DataType(GridColumnDataType.String).AllowFiltering(false).CssClass("minimal");
                        columns.AddFor(m => m.ENTRY_UNIT_TYPE).DataType(GridColumnDataType.String).CssClass("minimal");
                        columns.AddFor(m => m.CONTAINER_TYPE).Caption("CONTAINER TYPE").DataType(GridColumnDataType.String).CssClass("minimal");
                        columns.AddFor(m => m.CARRIER).DataType(GridColumnDataType.String).CssClass("minimal");
                        columns.AddFor(m => m.TOTAL_PIECES).Caption("TOTAL PCS").DataType(GridColumnDataType.Number).AllowFiltering(false).CssClass("minimal");
                        columns.AddFor(m => m.TOTAL_PCS_NO_SCAN).Caption("PCS NO SCAN").DataType(GridColumnDataType.Number).AllowFiltering(false).CssClass("minimal");
                        columns.AddFor(m => m.BIN_CODE).Caption("BIN CODE").DataType(GridColumnDataType.String).AllowFiltering(false).CssClass("minimal");
                        columns.AddFor(m => m.CONTAINER_ID).Caption("CONTAINER ID").DataType(GridColumnDataType.String).CssClass("minimal");
                        columns.AddFor(m => m.CONTAINER_TRACKING_NUMBER).Caption("CONTAINER TRACKING NUMBER").DataType(GridColumnDataType.String).CssClass("minimal");
                        columns.AddFor(m => m.DROP_SHIP_SITE_KEY).Caption("SITE KEY").DataType(GridColumnDataType.String).AllowFiltering(false).CssClass("minimal");
                        columns.AddFor(m => m.CONTAINER_WEIGHT).Caption("WEIGHT").DataType(GridColumnDataType.Number).AllowFiltering(false).CssClass("minimal");
                        columns.AddFor(m => m.LAST_KNOWN_DATE).Caption("LAST KNOWN DATE").DataType(GridColumnDataType.Date).AllowFiltering(false).CssClass("minimal")
                            .CalculateCellValue(@<text>
                                function(data) {
                                    return data.LAST_KNOWN_DATE_STRING;
                                }
                                </text>);
                        columns.AddFor(m => m.LAST_KNOWN_DESC).Caption("LAST KNOWN DESC").DataType(GridColumnDataType.String).AllowFiltering(false).CssClass("minimal");
                        columns.AddFor(m => m.LAST_KNOWN_LOCATION).Caption("LAST KNOWN LOCATION").DataType(GridColumnDataType.String).AllowFiltering(false).CssClass("minimal");
                        columns.AddFor(m => m.LAST_KNOWN_ZIP).Caption("LAST KNOWN ZIP").DataType(GridColumnDataType.String).AllowFiltering(false).CssClass("minimal");
                        })
                        .Summary(s => s.TotalItems(items =>
                        {
                            items.AddFor(m => m.LOCATION).SummaryType(SummaryType.Count);
                        }))
                    )

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/ppg/ppg.reports-reports.bundle.min.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function documentReady() {
            this.removeEventListener('DOMContentLoaded', documentReady);
            PPG.reports.init('Carrier Report');
        });

        var dataGrid,
            taskIdEditor;

        function gridBox_valueChanged(e) {
            var $dataGrid = $("#embedded-datagrid");
            if ($dataGrid.length) {
                var dataGrid = $dataGrid.dxDataGrid("instance");
                dataGrid.selectRows(e.value, false);
                PPG.reports.onSubClientListChanged(e);
            }
        }

        function cell_prepared(options) {
            options.cellElement.html(options.value);
        }

    </script>

}