@{
    ViewData["Title"] = "USPS Monthly Delivery Performance Summary";
}


<h2 class="content-block"> Reporting<i class="dx-icon dx-icon-spinright"> </i> USPS Monthly Delivery Performance Summary</h2>
<p class="page-desc">
    USPS Monthly Delivery Performance Summary
</p>

<div class="content-block">
    <div class="dx-card">
        <div class="ppg-container-cols">
            <div class="dx-col-2">
                <label>Customer - Location</label>
                @(Html.DevExtreme().DropDownBox()
                    .DataSource(d => d.Mvc()
                        .Controller("Common")
                        .LoadAction("GetSubClientSelectBoxData")
                        .LoadMode(DataSourceLoadMode.Raw)
                        .Key("Name")
                    )
                    .Placeholder("Choose Customer\\Location")
                    .Width(280)
                    .ShowClearButton(true)
                    .DisplayExpr("Description")
                    .ContentTemplate(new TemplateName("EmbeddedDataGridMultiple"))
                    .StylingMode(EditorStylingMode.Underlined)
                    .ValueExpr("Name")
                    .OnValueChanged("gridBox_valueChanged")
                 )
                @* multi dropdown grid*@
                @using (Html.DevExtreme().NamedTemplate("EmbeddedDataGridMultiple"))
                {
                    @(Html.DevExtreme().DataGrid()
                        .ID("embedded-datagrid")
                        .DataSource(new JS(@"component.getDataSource()"))
                        .Columns(columns =>
                        {
                            columns.Add().DataField("Name");
                        })
                        .Selection(s => s.Mode(SelectionMode.Multiple))
                        .Height(300)
                        .SelectedRowKeys(new JS(@"component.option(""value"")"))
                        .OnSelectionChanged(@<text>
                            function(selectedItems){
                                var keys = selectedItems.selectedRowKeys;
                                component.option("value", keys);
                            }
                        </text>)
                    )
                }
            </div>
            <div class="dx-col-2">
                <label>Manifest From Date</label>

                @(Html.DevExtreme().DateBox()
                .ID("manifestStartDate")
                .Name("ManifestStartDate")
                .OnValueChanged("PPG.reports.onManifestStartDateChanged")
                .Type(DateBoxType.Date)
                .Value(DateTime.Now.AddDays(-6))
                .Width(170)
                .Min(DateTime.Now.AddDays(-180))
                .Max(DateTime.Now)
                )
            </div>
            <div class="dx-col-2">
                <label>Manifest To Date</label>
                @(Html.DevExtreme().DateBox()
                .ID("manifestEndDate")
                .Name("ManifestEndDate")
                .OnValueChanged("PPG.reports.onManifestEndDateChanged")
                .Type(DateBoxType.Date)
                .Value(DateTime.Now)
                .Width(170)
                .Min(DateTime.Now.AddDays(-180))
                .Max(DateTime.Now)
                )

            </div>
            <div class="dx-col-1" style="text-align:right">
                @(Html.DevExtreme().Button()
		        .ID("runReportButton")
				.Text("Run Report")
                .ValidationGroup("SubClientName")
				.OnClick("PPG.reports.getUSPSMonthlyDeliveryPerformanceSummary")

    )
            </div>
            <div class="dx-col-1" style="text-align:right">
                @(Html.DevExtreme().Button()
                    .ID("btnExport")
                    .Text("Export")
                    .Disabled(false)
                    .Icon("xlsxfile")
                    .ValidationGroup("SubClientName")
                    .OnClick("PPG.reports.uspsMonthlyDeliveryPerformanceSummaryExport")
                )
            </div>

        </div>
    </div>
</div>

<div class="content-block">
    <div class="dx-card" id="reportsCard">
        <div class="ppg-container-cols">
            <div style="grid-column: 1 / span 12;">
                @(Html.DevExtreme().Button().Text("Clear Filters").ID("clearFilterBtn").OnClick("PPG.reports.clearFilters"))
                <br />
                <br />

                @(Html.DevExtreme().DataGrid<ParcelPrepGov.Reports.Models.SprocModels.USPSMonthlyDeliveryPerformanceSummary>()
                    .ID("reportsGrid")
                    .DataSource(d => d.Mvc()
                    .Controller("Reports")
                    .LoadAction(nameof(ParcelPrepGov.Web.Features.Reports.ReportsController.GetUSPSMonthlyDeliveryPerformanceSummary))
                    .LoadParams(new { subClientNames = new JS("PPG.reports.getSelectedSubClientList")
                                    ,startDate = new JS("PPG.reports.getManifestStartDate")
                                    ,endDate= new JS("PPG.reports.getManifestEndDate")}))
                    .ShowBorders(true)
                    .OnDataErrorOccurred("PPG.reports.runAndExportButtonReenable")
                    .Width("100%")
                    .HeaderFilter(h => h.Visible(true).AllowSearch(true))
                    .Height(600)
                    .ShowBorders(true)
                    .ShowRowLines(true)
                    .ShowColumnLines(true)
                    .Sorting(sorting => sorting.Mode(GridSortingMode.Single))
                    .LoadPanel(lp => lp.Enabled(true))
                    .Scrolling(scrolling =>
                    {
                        scrolling.Mode(GridScrollingMode.Virtual);
                        scrolling.ColumnRenderingMode(GridColumnRenderingMode.Virtual);
                        scrolling.ShowScrollbar(ShowScrollbarMode.Always);
                    })
                    .AllowColumnResizing(true)
                    .ColumnResizingMode(ColumnResizingMode.Widget)
                    .ColumnAutoWidth(true)
                    .Columns(columns =>
                    {
                        columns.AddFor(m => m.SubClientName).DataType(GridColumnDataType.String).CssClass("minimal");
                        columns.AddFor(m => m.ManifestMonth).DataType(GridColumnDataType.String).CssClass("minimal");
                        columns.AddFor(m => m.StartDate).DataType(GridColumnDataType.Date).Format(@"MM/dd/yyyy").AllowFiltering(false).CssClass("minimal");
                        columns.AddFor(m => m.EndDate).DataType(GridColumnDataType.Date).Format(@"MM/dd/yyyy").AllowFiltering(false).CssClass("minimal");
                        columns.AddFor(m => m.Product).DataType(GridColumnDataType.String).CssClass("minimal");
                        columns.AddFor(m => m.TOTAL_PIECES).DataType(GridColumnDataType.Number).AllowFiltering(false).CssClass("minimal");
                        columns.AddFor(m => m.AVG_POSTAL_DAYS).DataType(GridColumnDataType.Number).AllowFiltering(false).CssClass("minimal");
                        columns.AddFor(m => m.AVG_CAL_DAYS).DataType(GridColumnDataType.Number).AllowFiltering(false).CssClass("minimal");
                        columns.AddFor(m => m.TOTAL_PCS_NO_STC).DataType(GridColumnDataType.Number).AllowFiltering(false).CssClass("minimal");
                        columns.AddFor(m => m.TOTAL_PCS_NO_SCAN).DataType(GridColumnDataType.Number).AllowFiltering(false).CssClass("minimal");
                        columns.AddFor(m => m.LessThanOrEqualToDay3).DataType(GridColumnDataType.Number).AllowFiltering(false).CssClass("minimal").Caption("<= Day 3");
                        columns.AddFor(m => m.Day4).DataType(GridColumnDataType.Number).AllowFiltering(false).CssClass("minimal");
                        columns.AddFor(m => m.Day5).DataType(GridColumnDataType.Number).AllowFiltering(false).CssClass("minimal");
                        columns.AddFor(m => m.Day6).DataType(GridColumnDataType.Number).AllowFiltering(false).CssClass("minimal");
                        columns.AddFor(m => m.Day7).DataType(GridColumnDataType.Number).AllowFiltering(false).CssClass("minimal");
                        columns.AddFor(m => m.Day8).DataType(GridColumnDataType.Number).AllowFiltering(false).CssClass("minimal");
                        columns.AddFor(m => m.Day9).DataType(GridColumnDataType.Number).AllowFiltering(false).CssClass("minimal");
                        columns.AddFor(m => m.Day10).DataType(GridColumnDataType.Number).AllowFiltering(false).CssClass("minimal");
                        columns.AddFor(m => m.Day11).DataType(GridColumnDataType.Number).AllowFiltering(false).CssClass("minimal");
                        columns.AddFor(m => m.Day12).DataType(GridColumnDataType.Number).AllowFiltering(false).CssClass("minimal");
                        columns.AddFor(m => m.Day13).DataType(GridColumnDataType.Number).AllowFiltering(false).CssClass("minimal");
                        columns.AddFor(m => m.Day14).DataType(GridColumnDataType.Number).AllowFiltering(false).CssClass("minimal");
                        columns.AddFor(m => m.GreaterOrEqualTo15).DataType(GridColumnDataType.Number).AllowFiltering(false).CssClass("minimal").Caption(">= Day 15");
                    }))                
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/ppg/ppg.reports-reports.bundle.min.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function documentReady() {
            this.removeEventListener('DOMContentLoaded', documentReady);
            PPG.reports.init('USPS Monthly Delivery Performance Summary');
        });

        var dataGrid,
            taskIdEditor;

        function gridBox_valueChanged(e) {
            var $dataGrid = $("#embedded-datagrid");
            if ($dataGrid.length) {
                var dataGrid = $dataGrid.dxDataGrid("instance");
                dataGrid.selectRows(e.value, false);
                PPG.reports.onSubClientListChanged(e);
            }
        }

        function cell_prepared(options) {
            options.cellElement.html(options.value);
        }

    </script>
}